@import "node_modules/bootstrap/scss/bootstrap";

$red: rgba(175, 35, 35, 0.5);

body {
  background-image: url("milkyway.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: white;
  overflow: hidden;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}
a:hover{
  color: #ff0000;
}

.loading {
  background-image: url("milkyway.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  position: "fixed";
  width: "100%";
  height: "100%";
  z-index: "99";
}

h2 {
  font-family: "Space Age", Arial, sans-serif;
}



.label {
  display: none;
  position: absolute;
  background-color: $red;
  font-size: 90%;
}

/*.wrapper {
  perspective: 1000px;
  animation: startPerspective 5s linear;

  perspective-origin: 500px;
  margin: 4em auto; 
}*/

/*perspective animation */

.wrapper-left {
  
  animation: start-animation-left 2s linear ; //, float-left 10s linear infinite;
  perspective: 1000px;
  perspective-origin: 500px;
  margin: 4em auto; 
}

.wrapper-right {
  
  animation: start-animation-right 2s linear ; //, float-right 10s linear infinite;
  perspective: 1000px;
  perspective-origin: 500px;
  margin: 4em auto; 
  float: right;
}

#inner-left { 
  transform: rotateY(var(--leftvar)) rotateX(var(--offsetscaledY));
  margin-left: var(--leftoffset);

}

#inner-right { 
  transform: rotateY(var(--rightvar)) rotateX(var(--offsetscaledY));
  margin-right: var(--rightoffset);
  display: flex;
  flex-direction: column;

}


@keyframes start-animation-left {
  0% {perspective: 300px; margin-left: -600px;}
  25% {perspective: 300px; margin-left: -300px;}
  50% {perspective: 500px; margin-left: -150px;}
  75% {perspective: 1000px; margin-left: 0px;}
  87% {perspective: 1000px; margin-left: 20px;}
  100% {perspective: 1000px; margin-left: 0px;}
}

@keyframes start-animation-right {
  0% {perspective: 300px; margin-right: -600px;}
  25% {perspective: 300px; margin-left: -300px;}
  50% {perspective: 500px; margin-right: -150px;}
  75% {perspective: 1000px; margin-right: 0px;}
  87% {perspective: 1000px; margin-right: 20px;}
  100% {perspective: 1000px; margin-right: 0px;}
}

@keyframes float-left {
  /*0% {margin-top: 30px; margin-left: 0px;}
  25% {margin-top: 35px; margin-left: 5px;}
  50% {margin-top: 30px; margin-left: 0px;}
  75% {margin-top: 35px; margin-left: -5px;}
  100% {margin-top: 30px; margin-left: 0px;}*/
  0% {margin-top: 4em; margin-left: 0em;}
  25% {margin-top: 5em; margin-left: 1em;}
  50% {margin-top: 6em; margin-left: 0em;}
  75% {margin-top: 5em; margin-left: -1em;}
  100% {margin-top: 4em; margin-left: 0em;}
}

@keyframes float-right {
  /*0% {margin-top: 30px; margin-left: 0px;}
  25% {margin-top: 35px; margin-left: 5px;}
  50% {margin-top: 30px; margin-left: 0px;}
  75% {margin-top: 35px; margin-left: -5px;}
  100% {margin-top: 30px; margin-left: 0px;}*/
  0% {margin-top: 6em; margin-right: 0em;}
  25% {margin-top: 5em; margin-right: 1em;}
  50% {margin-top: 4em; margin-right: 0em;}
  75% {margin-top: 5em; margin-right: -1em;}
  100% {margin-top: 6em; margin-right: 0em;}
}


/* @keyframes circle { to { transform: rotate(1turn); } } */


.table-dark {
  background-color: rgba(52, 58, 64, 0.5);
}
.App {
  text-align: center;
  font-size: 12px;
}

#stars-table tbody, #stars-table thead tr, #stars-table tbody tr,  #planets-table tbody, #planets-table tbody tr, #planets-table thead tr { display: block; }
#stars-table thead tr, #stars-table tbody tr, #planets-table thead tr, #planets-table tbody tr {
  display: flex;
}
#planets-table thead th, #planets-table tbody td {
  /*flex: 1;*/
  text-align: center;
  /*top:50%;*/
}

#stars-table tbody {
  max-height: 65vh;
  /*overflow-y: auto;*/
  overflow-y: scroll;
  overflow-x: hidden;
}

#stars-table tbody::-webkit-scrollbar, #planets-table tbody::-webkit-scrollbar {
  width: 16px;
}

#stars-table tbody::-webkit-scrollbar-track, #planets-table tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#stars-table tbody::-webkit-scrollbar-thumb, #planets-table tbody::-webkit-scrollbar-thumb {
  /*background-color: darkgrey;*/
  background-color: $red;
  outline: 1px solid slategrey;
}

#planets-table tbody {
  max-height: 40vh;
  /*overflow-y: auto;*/
  overflow-y: scroll;
  overflow-x: hidden; 
}


tr:hover {
  /*background-color: $red;*/
  font-weight: bold;
}

.width300 { width: 300px; }
.width275 { width: 275px; }
.width175 { width: 175px; }
.width150 { width: 150px; }
.width141 { width: 141px; }
.width125 { width: 125px; }
.width116 { width: 116px; }
.width100 { width: 100px; }
.width91 { width: 91px; }
.width75 { width: 75px; }
.width50 { width: 50px; }


.react-bootstrap-table table { table-layout: auto !important; }

span.search {
  border-radius: 3px;
  background-color: #af2323;
}

span.matched-search {
  background-color: blue;
}

.list-label {
  width: 160px;
  text-align: right;
}

button {
  margin: 5px;
}

.btn-success {
  background-color: rgba(40, 167, 69, 0.5);
  border: none;
}
.btn-primary {
  background-color: rgba(0, 123, 255, 0.5);
  border: none;
}

.table-active {
  background-color: $red !important;
}
#stars-table tbody tr {
  cursor: pointer;
}

.temperature-pill {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}


#star {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 240, 232, 0.9);
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#planets {
  position: fixed;
  top: 50%;
  left: 50%;
}

.planet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: silver;
  position: fixed;
  top: 50%;
  left: 50%;
}

.video-wrapper {
  position: fixed;
  z-index: -99;
  width: 100%;
  height: 100%;
  /*display: none;*/
}

.pagination-input {
  width: 40px;
  background: none;
  color: white;
  font-weight: bold;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: none;
  border-image: initial;
  margin-left: 5px;
  text-align: center;
}

@keyframes circle { to { transform: rotate(1turn); } }


